body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, a, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Текстовый-фрейм {
	border-style:solid;
}
table.Стандартная-таблица {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Стандартная-таблица {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.основной-абзац {
	color:#000000;
	font-family:"Myriad pro", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Гиперссылка {
	color:#275b9b;
	text-decoration:underline;
}
td.CellOverride-1 {
	border-bottom-color:#262626;
	border-bottom-width:2px;
	border-left-width:2px;
	border-right-width:1px;
	border-top-width:2px;
}
td.CellOverride-2 {
	border-bottom-width:2px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:2px;
}
td.CellOverride-3 {
	border-bottom-width:2px;
	border-left-width:1px;
	border-right-width:2px;
	border-top-width:2px;
}
td.CellOverride-4 {
	border-bottom-color:#404040;
	border-bottom-width:1px;
	border-left-color:#262626;
	border-left-width:2px;
	border-right-color:#262626;
	border-right-width:2px;
	border-top-color:#262626;
	border-top-width:2px;
}
td.CellOverride-5 {
	border-bottom-width:1px;
	border-left-color:#262626;
	border-left-width:2px;
	border-right-width:1px;
	border-top-width:2px;
}
td.CellOverride-6 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:2px;
}
td.CellOverride-7 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:2px;
	border-top-width:2px;
}
td.CellOverride-8 {
	border-bottom-width:1px;
	border-left-width:2px;
	border-right-width:2px;
	border-top-width:2px;
}
td.CellOverride-9 {
	border-bottom-width:1px;
	border-left-color:#262626;
	border-left-width:2px;
	border-right-width:1px;
	border-top-width:1px;
}
td.CellOverride-10 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:1px;
}
td.CellOverride-11 {
	border-bottom-width:2px;
	border-left-color:#262626;
	border-left-width:2px;
	border-right-width:1px;
	border-top-width:1px;
}
td.CellOverride-12 {
	border-bottom-width:2px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-width:1px;
}
td.CellOverride-13 {
	border-bottom-width:1px;
	border-left-width:2px;
	border-right-width:2px;
	border-top-color:#262626;
	border-top-width:2px;
}
td.CellOverride-14 {
	border-bottom-width:1px;
	border-left-width:2px;
	border-right-width:1px;
	border-top-width:2px;
}
td.CellOverride-15 {
	border-bottom-width:1px;
	border-left-width:2px;
	border-right-width:1px;
	border-top-width:1px;
}
td.CellOverride-16 {
	border-bottom-width:2px;
	border-left-width:2px;
	border-right-width:1px;
	border-top-width:1px;
}
td.CellOverride-17 {
	border-bottom-width:2px;
	border-left-width:2px;
	border-right-width:1px;
	border-top-width:2px;
}
td.CellOverride-18 {
	border-bottom-width:2px;
	border-left-width:2px;
	border-right-width:2px;
	border-top-width:2px;
}
span.CharOverride-1 {
	font-family:"Myriad Pro", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
td._idGenCellOverride-1 {
	border-bottom-color:#262626;
	border-bottom-style:solid;
	border-bottom-width:2px;
}
td._idGenCellOverride-2 {
	border-bottom-color:#4a4a49;
	border-bottom-style:solid;
	border-bottom-width:2px;
}
col._idGenTableRowColumn-1 {
	width:42px;
}
col._idGenTableRowColumn-2 {
	width:178px;
}
col._idGenTableRowColumn-3 {
	width:54px;
}
col._idGenTableRowColumn-4 {
	width:53px;
}
col._idGenTableRowColumn-5 {
	width:47px;
}
col._idGenTableRowColumn-6 {
	width:75px;
}
tr._idGenTableRowColumn-7 {
	min-height:16px;
}
tr._idGenTableRowColumn-8 {
	min-height:17px;
}
